version: '3.3'

services:
   db:
     image: yharshavardhan97/cheers2019:sqlimg
     container_name: hmsql_container
     volumes:
       - /opt/data:/var/lib/mysql
     restart: always
     environment:
       MYSQL_ROOT_PASSWORD: harsha0507
       MYSQL_DATABASE: student_info
       MYSQL_USER: root

   webapi:
     depends_on:
       - db
     image: yharshavardhan97/cheers2019:appimg
     container_name: hM_container
     hostname: project_api
     ports:
       - "9000:8080"
     restart: always